body {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: #f3f6f9;
  letter-spacing: -0.04em;
}

.fullscreen-background {
  width: 100%;
  padding: 80px 0 100px;
  background: #181818;
}

.container {
  margin: 0 auto;
  width: 930px;
}

.tag-flex-wrapper {
  margin-left: 84px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.tag-wrapper {
  padding-left: 22px;
  padding-right: 22px;
  background: #6532f8;
  border: 1px solid #6532f8;
  border-radius: 200px;
}

.tag-description {
  display: block;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-title {
  margin-left: 84px;
  margin-bottom: 45px;
  font-size: 120px;
  line-height: 138px;
}

.list-wrapper {
  padding: 60px 70px 87px;
  background: #232323;
  border-radius: 20px;
}

.flex-input {
  display: flex;
  align-items: center;
}

.input {
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 12px;
  width: 410px;
  font-family: "Arimo", sans-serif;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #f3f6f9;
  border: none;
  outline: none;
  border-bottom: 1px solid #f3f6f9;
  background-color: #232323;
}


.input::placeholder {
  font-size: 30px;
  letter-spacing: -0.02em;
  opacity: 0.5;
}

.add-movie-btn {
  margin-left: 20px;
  width: 62px;
  height: 62px;
  background-color: #6532f8;
  border-radius: 100px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.movie-list-flex-wrapper {
  height: 470px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow-y: auto;
}

.movie-item {
  position: relative;
  padding: 27px 20px;
  font-size: 20px;
  line-height: 20px;
  background: #3a3939;
  border-radius: 10px;
}


.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.circle-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 19px;
  height: 19px;
  border-radius: 100px;
  border: 1px solid #f3f6f9;
  opacity: 0.3;
}

.circle-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  border: 1px solid #f3f6f9;
  background: #6532f8;
}

.real-checkbox:checked + .circle-checkbox::before{
  transform: translate(-50%, -50%) scale(1); 
}

.delete-movie-img {
  pointer-events: none;
  width: 23px;
  height: 23px;
}

.delete-movie-btn {
  padding: 0;
  position: absolute;
  right: 20px;
  background-color: transparent;
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
}

.delete-movie-btn:hover {
  background-color: #3a3939;
}

.watched-movie {
  text-decoration: line-through;
opacity: 0.5;
  border: 1px solid black;
}

